@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-neutral-bg;
}
.button {
    @apply px-6 py-3 text-sm font-medium rounded bg-primary min-w-40 text-neutral-bg;
}
.button-full {
    @apply w-full px-6 py-3 text-sm font-medium rounded bg-primary text-neutral-bg;
}
.button-small {
    @apply px-3 md:px-4 py-3 text-xs md:text-sm font-medium rounded-lg shadow-sm bg-primary text-utility-light_background;
}

.primary-heading {
    @apply text-xl font-bold text-primary;
}
.primary-heading-dark {
    @apply text-2xl font-bold text-utility-title;
}
.sub-heading {
    @apply text-xl font-medium;
}
.section-heading {
    @apply font-semibold md:text-lg;
}
.text {
    @apply text-sm;
}

.center {
    @apply flex items-center justify-center;
}

.error {
    @apply text-red-500;
}

.card-box {
    @apply p-2 border rounded-lg shadow-sm bg-utility-white_background;
}

.input {
    @apply p-2 mb-2 rounded;
}

.label {
    @apply mb-1 text-neutral-bg;
}

/* Loading */

#brand-logo {
    animation: zoomInOut 2s infinite ease-in-out;
}

@keyframes zoomInOut {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
